.main-header {
    width: auto;
    background-color: darkgreen;
    padding: 8px 16px;
}

.main-header > div{
    display: inline-block;
} 

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-header_brand {
    color: rgb(3, 51, 3);
    font-size: 2.5rem;
    font-weight: bolder;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 30px;

}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 133px); 
}

.main-nav__item {
    display: inline-block;
    margin: 0 2.5rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 124456;
    font-weight: 200px;
    background-color: blue;
    padding: 20px;
    margin: 0px;
    border: 20px solid rgb(168, 24, 24);
}

.main-nav__item a {
    text-decoration: none;
    color: rgb(3, 51, 3);
    font-weight: 500;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 4px solid white ;
}
.main-nav__item--CTA a{
    color: white;
    background:red;
    padding: 6px 12px;
    border-radius:10px;
}