.main-header {
    width: auto;
    background-color: darkgreen;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-header_brand {
    color: rgb(3, 51, 3);
    font-size: 2.5rem;
    font-weight: bolder;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 30px;

}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 145px);
}

.main-nav__item {
    display: inline-block;
    margin: 0 2.5rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 124456;
    font-weight: 200px;
    background: url("./../../../../../girl_pic.jpg");
    /* background:url("./freedom.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
    margin: 0px;
    border: 20px solid rgb(168, 24, 24);
}


p {
    font-family: sans-seri;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(22, 124, 22);
    text-align: center;
}


.plan {
    background-color: #6abd76;
    text-align: center;
    padding: 12px;
    margin: 6px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}


.plan--highlighted {
    background-color: rgb(19, 119, 19);
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(37, 36, 36);
    text-align: center;
    padding: 12px;
    margin: 6px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan__main {
    background: white;
    color: rgb(19, 119, 19);
    padding: 2px;
    box-shadow: 2px 2px 2px 2px rgb(37, 36, 36);
    border-radius: 8px;
}

.plan__title {
    color: rgb(15, 18, 204);
}

.plan__price {
    color: rgb(233, 112, 14);
}

.plan--highlighted .plan__price {
    color: #094712;
}

.plan--highlighted .plan__title{
    color: #0a2b0f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.plan__feature {
    padding: 2px 0px;
}

#key_features p {
    color: white;
    padding: 4rem;
}

#key_features {
    background: rgb(211, 67, 67);
}

#key_features li {
    list-style: none;
    padding: 8px;
}

.button {
    color: aqua;
    background-color: black;
    border: 1.5px solid #024712;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: aqua;
    color: black;
}

.main-nav__item a {
    text-decoration: none;
    color: rgb(3, 51, 3);
    font-weight: 500;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 4px solid white;
}

.main-nav__item--CTA a {
    color: white;
    background: red;
    padding: 6px 12px;
    border-radius: 10px;
}