body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.main-section {
    height: 800px;
    border: 10px solid #ccc;
    padding: 16px;
    margin-bottom: 10px;
}

.highlighted {
    border: 3px solid #060e7a;
    margin-bottom: 16px;
}

.highlighted1 {
    border: 3px solid #fa923f !important;
    margin-bottom: 16px;
}


